## Import python libraries

In [1]:
import pandas as pd
# import matplotlib.pyplot as plt

## Read in data and have a glimpse of the dataset

In [2]:
df_HR_Employee_Attrition = pd.read_csv('HR-Employee-Attrition.csv') 
df_HR_Employee_Attrition.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

## Check the shape of the dataset

In [3]:
df_HR_Employee_Attrition.shape

(1470, 35)

## Check the datatypes of the dataframe

In [4]:
df_HR_Employee_Attrition.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [5]:
df_HR_Employee_Attrition.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

## Schema for the data

In [31]:
df_HR_Employee_Attrition.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

## Delete missing values

In [32]:
 
def delete_missing_val(df, col_names): 
    for col_name in list(col_names):
        notmissing = df[col_name] != None
        df = df[notmissing] 
        return df
df_HR_Employee_Attrition = delete_missing_val(df_HR_Employee_Attrition, df_HR_Employee_Attrition.columns)

In [49]:
df_HR_Employee_Attrition.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

2. Check if there is data under the age of 18 and delete the row with this value, and Age has no conflict with Over18

In [10]:
over_18=df_HR_Employee_Attrition['Age']
over_18=over_18>=18
df_HR_Employee_Attrition=df_HR_Employee_Attrition[over_18]

over_18s=df_HR_Employee_Attrition['Over18']=='Y'
df_HR_Employee_Attrition=df_HR_Employee_Attrition[over_18s]

## Delete unwanted columns

In [11]:
print(df_HR_Employee_Attrition['StandardHours'].value_counts())
print(df_HR_Employee_Attrition['EmployeeCount'].value_counts())

80    1470
Name: StandardHours, dtype: int64
1    1470
Name: EmployeeCount, dtype: int64

Delete these columns StandardHours, EmployeeCount and Over18

In [12]:
df_HR_Employee_Attrition = df_HR_Employee_Attrition.drop(columns=['StandardHours', 'EmployeeCount'])

Delete columns that are not required by the attribute

In [13]:
df_HR_Employee_Attrition = df_HR_Employee_Attrition.drop(columns=['Attrition', 'EmployeeNumber','BusinessTravel','DailyRate','OverTime'])

Check whether our data no missing data, and has an appropriate value

In [14]:
print(df_HR_Employee_Attrition['Over18'].value_counts())

Y    1470
Name: Over18, dtype: int64

In [15]:
df_HR_Employee_Attrition['Age'].min()

18

In [16]:
df_HR_Employee_Attrition.isnull().sum()

Age                         0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [17]:
df_HR_Employee_Attrition.to_csv('cleaned_HR_Employee_Attrition.csv')

In [18]:
df_cleand = pd.read_csv('cleaned_HR_Employee_Attrition.csv')
df_cleand.shape

(1470, 29)

# 3 ANALYSIS

## 3.1 <font color=#008000>Explore the relationship between age and the income</font> in different department

In [19]:
education_department=df_HR_Employee_Attrition.groupby(['Department','Education'])

In [20]:
education_department['MonthlyIncome'].count()

Department              Education
Human Resources         1              5
                        2             13
                        3             27
                        4             15
                        5              3
Research & Development  1            115
                        2            182
                        3            379
                        4            255
                        5             30
Sales                   1             50
                        2             87
                        3            166
                        4            128
                        5             15
Name: MonthlyIncome, dtype: int64

Delete Human Resources's level 1 and 5

In [21]:
education_department_dataset = df_HR_Employee_Attrition.drop(df_HR_Employee_Attrition[(df_HR_Employee_Attrition.Education ==5) & (df_HR_Employee_Attrition.Department == 'Human Resources')].index)
education_department_dataset = education_department_dataset .drop(education_department_dataset [(education_department_dataset .Education ==1) & (education_department_dataset .Department == 'Human Resources')].index)

In [22]:
education_department=education_department_dataset.groupby(['Department','Education'])


We have added the average value of monthly income.

In [23]:
education_department['MonthlyIncome'].agg(['mean'])

                                         mean
Department             Education
Human Resources        2          4782.923077
                       3          6760.555556
                       4          9711.133333
Research & Development 1          5770.860870
                       2          6190.093407
                       3          6220.704485
                       4          6425.972549
                       5          8325.600000
Sales                  1          5627.300000
                       2          6518.839080
                       3          7154.777108
                       4          7304.734375
                       5          8839.200000

## 3.2 <font color=#008000>Explore the association between age and Income</font> in different department

In [24]:
df_HR_Employee_Attrition['Age'].max()

60

In [25]:
df_HR_Employee_Attrition['Age'].min()

18

In [26]:
age_income_list=[]
## Human_Resources part
Human_Resources=(df_HR_Employee_Attrition['Department']=='Human Resources')
Human_Resource=df_HR_Employee_Attrition[Human_Resources]
## age between 18 and 30
human_resources_1_2=Human_Resource['Age']<=30
human_resource_1_2=Human_Resource[human_resources_1_2]
mean=human_resource_1_2['MonthlyIncome'].mean().round(3)
age_income_list.append("Department: Human Resources, Age: between 18 and 30 Mean monthly mean income: %.3f"%mean)

## age between 31 and 40
human_resources_3_4=Human_Resource['Age']<=40
human_resource_3_4=Human_Resource[human_resources_3_4]

human_resources_3_4=human_resource_3_4['Age']>30
human_resource_3_4=human_resource_3_4[human_resources_3_4]

mean=human_resource_3_4['MonthlyIncome'].mean().round(3)
age_income_list.append("Department: Human Resources, Age: between 31 and 40 Mean monthly mean income: %.3f"%mean)

## age between 41 and 60
human_resources_5_6=Human_Resource['Age']<=60
human_resource_5_6=Human_Resource[human_resources_5_6]

human_resources_5_6=human_resource_5_6['Age']>31
human_resource_5_6=human_resource_5_6[human_resources_5_6]

mean=human_resource_5_6['MonthlyIncome'].mean().round(3)
age_income_list.append("Department: Human Resources, Age: between 41 and 60 Mean monthly mean income: %.3f"%mean)

In [27]:
## Sales part
sales=(df_HR_Employee_Attrition['Department']=='Sales')
sale=df_HR_Employee_Attrition[sales]
## age between 18 and 30
human_resources_1_2=sale['Age']<=30
human_resource_1_2=sale[human_resources_1_2]
mean=human_resource_1_2['MonthlyIncome'].mean().round(3)
age_income_list.append("Department: Sales, Age: between 18 and 30 Mean monthly mean income: %.3f"%mean)

## age between 31 and 40
human_resources_3_4=sale['Age']<=40
human_resource_3_4=sale[human_resources_3_4]

human_resources_3_4=human_resource_3_4['Age']>30
human_resource_3_4=human_resource_3_4[human_resources_3_4]

mean=human_resource_3_4['MonthlyIncome'].mean().round(3)
age_income_list.append("Department: Sales, Age: between 31 and 40 Mean monthly mean income: %.3f"%mean)

## age between 41 and 60
human_resources_5_6=sale['Age']<=60
human_resource_5_6=sale[human_resources_5_6]

human_resources_5_6=human_resource_5_6['Age']>31
human_resource_5_6=human_resource_5_6[human_resources_5_6]

mean=human_resource_5_6['MonthlyIncome'].mean().round(3)
age_income_list.append("Department: Sales, Age: between 41 and 60 Mean monthly mean income: %.3f"%mean)

In [28]:
## Research & Development part
Research_Developments=(df_HR_Employee_Attrition['Department']=='Research & Development')
Research_Development=df_HR_Employee_Attrition[Research_Developments]
## age between 18 and 30
human_resources_1_2=Research_Development['Age']<=30
human_resource_1_2=Research_Development[human_resources_1_2]
mean=human_resource_1_2['MonthlyIncome'].mean().round(3)
age_income_list.append("Department: Research & Development, Age: between 18 and 30 Mean monthly mean income: %.3f"%mean)

## age between 31 and 40
human_resources_3_4=Research_Development['Age']<=40
human_resource_3_4=Research_Development[human_resources_3_4]

human_resources_3_4=human_resource_3_4['Age']>30
human_resource_3_4=human_resource_3_4[human_resources_3_4]

mean=human_resource_3_4['MonthlyIncome'].mean().round(3)
age_income_list.append("Department: Research & Development, Age: between 31 and 40 Mean monthly mean income: %.3f"%mean)

## age between 41 and 60
human_resources_5_6=Research_Development['Age']<=60
human_resource_5_6=Research_Development[human_resources_5_6]

human_resources_5_6=human_resource_5_6['Age']>31
human_resource_5_6=human_resource_5_6[human_resources_5_6]

mean=human_resource_5_6['MonthlyIncome'].mean().round(3)
age_income_list.append("Department: Research & Development, Age: between 41 and 60 Mean monthly mean income: %.3f"%mean)

age_income_list

['Department: Human Resources, Age: between 18 and 30 Mean monthly mean income: 3156.562',
 'Department: Human Resources, Age: between 31 and 40 Mean monthly mean income: 4716.522',
 'Department: Human Resources, Age: between 41 and 60 Mean monthly mean income: 8119.409',
 'Department: Sales, Age: between 18 and 30 Mean monthly mean income: 4593.414',
 'Department: Sales, Age: between 31 and 40 Mean monthly mean income: 6470.751',
 'Department: Sales, Age: between 41 and 60 Mean monthly mean income: 7954.924',
 'Department: Research & Development, Age: between 18 and 30 Mean monthly mean income: 3579.744',
 'Department: Research & Development, Age: between 31 and 40 Mean monthly mean income: 5638.040',
 'Department: Research & Development, Age: between 41 and 60 Mean monthly mean income: 7361.184']

## 3.3 Explore the income difference between Male and female in different department

In [29]:
department_gender=df_HR_Employee_Attrition.groupby(['Department','Gender'])

In [30]:
department_gender['MonthlyIncome'].agg(['mean','max','min','median'])

                                      mean    max   min  median
Department             Gender
Human Resources        Female  7264.000000  19658  2109  4313.5
                       Male    6371.023256  19717  1555  3886.0
Research & Development Female  6513.691293  19973  1129  4615.0
                       Male    6129.888316  19999  1009  4174.5
Sales                  Female  6972.126984  19845  1200  5666.0
                       Male    6949.645914  19847  1052  6134.0

In [31]:
# Human_Resource part
print_list=[]
males=Human_Resource['Gender']=='Male'
male=Human_Resource[males]

females=Human_Resource['Gender']=='Female'
female=Human_Resource[females]

a=male['MonthlyIncome'].mean().round(3)/female['MonthlyIncome'].mean().round(3)
print_list.append("In Human Resource department,The monthly income of male is %.3f times that of female"%a)

In [32]:
# Sale part
males=sale['Gender']=='Male'
male=sale[males]

females=sale['Gender']=='Female'
female=sale[females]

a=male['MonthlyIncome'].mean().round(3)/female['MonthlyIncome'].mean().round(3)
print_list.append("In Sales department,The monthly income of male is %.3f times that of female"%a)

In [33]:
# Research_Development part
males=Research_Development['Gender']=='Male'
male=Research_Development[males]

females=Research_Development['Gender']=='Female'
female=Research_Development[females]

a=male['MonthlyIncome'].mean().round(3)/female['MonthlyIncome'].mean().round(3)
print_list.append("In Research Developments department,The monthly income of male is %.3f times that of female"%a)

print_list

['In Human Resource department,The monthly income of male is 0.877 times that of female',
 'In Sales department,The monthly income of male is 0.997 times that of female',
 'In Research Developments department,The monthly income of male is 0.941 times that of female']

## 3.4 Explore income difference  among different MaritalStatus in different department

In [34]:
department_mari=df_HR_Employee_Attrition.groupby(['Department','MaritalStatus'])

In [35]:
department_mari['MonthlyIncome'].agg(['mean', 'min', 'max'])

                                             mean   min    max
Department             MaritalStatus
Human Resources        Divorced       5125.250000  2064  19141
                       Married        7026.970588  1555  19658
                       Single         7562.538462  2109  19717
Research & Development Divorced       6724.209821  1129  19973
                       Married        6548.494226  1223  19999
                       Single         5574.220395  1009  19926
Sales                  Divorced       7251.597701  2275  19847
                       Married        7270.514563  1052  19845
                       Single         6373.699346  1081  19833

In [36]:
# human resources part
print_list=[]
marita_list=['Divorced','Married','Single']
current_list=[]
divorceds=Human_Resource['MaritalStatus']=='Divorced'
divorced=Human_Resource[divorceds]

Marrieds=Human_Resource['MaritalStatus']=='Married'
Married=Human_Resource[Marrieds]

Singles=Human_Resource['MaritalStatus']=='Single'
Single=Human_Resource[Singles]

d=divorced['MonthlyIncome'].mean().round(3)
m=Married['MonthlyIncome'].mean().round(3)
s=Single['MonthlyIncome'].mean().round(3)
current_list=[d,m,s]
index1=current_list.index(max(current_list))
index2=current_list.index(min(current_list))
print_list.append("In Human Resource department, %s has the most mean income, %s has the lowest mean income" %(marita_list[index1] ,marita_list[index2]))

In [37]:
# sale part
current_list=[]
divorceds=sale['MaritalStatus']=='Divorced'
divorced=sale[divorceds]

Marrieds=sale['MaritalStatus']=='Married'
Married=sale[Marrieds]

Singles=sale['MaritalStatus']=='Single'
Single=sale[Singles]

d=divorced['MonthlyIncome'].mean().round(3)
m=Married['MonthlyIncome'].mean().round(3)
s=Single['MonthlyIncome'].mean().round(3)
current_list=[d,m,s]
index1=current_list.index(max(current_list))
index2=current_list.index(min(current_list))
print_list.append("In Sale department, %s has the most mean income, %s has the lowest mean income" %(marita_list[index1] ,marita_list[index2]))

In [38]:
#Research_Development part
current_list=[]
divorceds=Research_Development['MaritalStatus']=='Divorced'
divorced=Research_Development[divorceds]

Marrieds=Research_Development['MaritalStatus']=='Married'
Married=Research_Development[Marrieds]

Singles=sale['MaritalStatus']=='Single'
Single=sale[Singles]

d=divorced['MonthlyIncome'].mean().round(3)
m=Married['MonthlyIncome'].mean().round(3)
s=Single['MonthlyIncome'].mean().round(3)
current_list=[d,m,s]
index1=current_list.index(max(current_list))
index2=current_list.index(min(current_list))
print_list.append("In Research_Developmentdepartment, %s has the most mean income, %s has the lowest mean income" %(marita_list[index1] ,marita_list[index2]))
print_list

['In Human Resource department, Single has the most mean income, Divorced has the lowest mean income',
 'In Sale department, Married has the most mean income, Single has the lowest mean income',
 'In Research_Developmentdepartment, Divorced has the most mean income, Single has the lowest mean income']

## 3.5 Explore job satisfiction and income in different educational attainment group.

In [39]:
department_jobsat=df_HR_Employee_Attrition.groupby(['Department','JobSatisfaction'])

In [40]:
department_jobsat['MonthlyIncome'].agg(['mean', 'min', 'max'])

                                               mean   min    max
Department             JobSatisfaction
Human Resources        1                6457.272727  2073  16799
                       2                6649.800000  2109  19717
                       3                5895.933333  1555  19658
                       4                7457.000000  2145  19141
Research & Development 1                6374.036458  1416  19943
                       2                6129.574713  1261  19926
                       3                6437.970000  1009  19999
                       4                6150.955932  1051  19740
Sales                  1                6993.593023  1091  18947
                       2                7303.604651  1052  19847
                       3                6649.992126  1200  19331
                       4                7004.646259  1081  19845

In [41]:
print_list=[]
level_list=['leve 1','leve 2','level 3','level 4']
current_list=[]
level1s=Human_Resource['JobSatisfaction']==1
level1=Human_Resource[level1s]

level2s=Human_Resource['JobSatisfaction']==2
level2=Human_Resource[level2s]

level3s=Human_Resource['JobSatisfaction']==3
level3=Human_Resource[level3s]

level4s=Human_Resource['JobSatisfaction']==4
level4=Human_Resource[level4s]

a=level1['MonthlyIncome'].mean().round(3)
b=level2['MonthlyIncome'].mean().round(3)
c=level3['MonthlyIncome'].mean().round(3)
d=level4['MonthlyIncome'].mean().round(3)

current_list=[a,b,c,d]
index1=current_list.index(max(current_list))
index2=current_list.index(min(current_list))
print_list.append("In Human Resource department, %s has the most mean income, %s has the lowest mean income" %(level_list[index1] ,level_list[index2]))

In [42]:
current_list=[]
level1s=sale['JobSatisfaction']==1
level1=sale[level1s]

level2s=sale['JobSatisfaction']==2
level2=sale[level2s]

level3s=sale['JobSatisfaction']==3
level3=sale[level3s]

level4s=sale['JobSatisfaction']==4
level4=sale[level4s]

a=level1['MonthlyIncome'].mean().round(3)
b=level2['MonthlyIncome'].mean().round(3)
c=level3['MonthlyIncome'].mean().round(3)
d=level4['MonthlyIncome'].mean().round(3)

current_list=[a,b,c,d]
index1=current_list.index(max(current_list))
index2=current_list.index(min(current_list))
print_list.append("In Sale department, %s has the most mean income, %s has the lowest mean income" %(level_list[index1] ,level_list[index2]))

In [43]:
current_list=[]
level1s=Research_Development['JobSatisfaction']==1
level1=Research_Development[level1s]

level2s=Research_Development['JobSatisfaction']==2
level2=Research_Development[level2s]

level3s=Research_Development['JobSatisfaction']==3
level3=Research_Development[level3s]

level4s=Research_Development['JobSatisfaction']==4
level4=Research_Development[level4s]

a=level1['MonthlyIncome'].mean().round(3)
b=level2['MonthlyIncome'].mean().round(3)
c=level3['MonthlyIncome'].mean().round(3)
d=level4['MonthlyIncome'].mean().round(3)

current_list=[a,b,c,d]
index1=current_list.index(max(current_list))
index2=current_list.index(min(current_list))
print_list.append("In Research_Development department, %s has the most mean income, %s has the lowest mean income" %(level_list[index1] ,level_list[index2]))

print_list

['In Human Resource department, level 4 has the most mean income, level 3 has the lowest mean income',
 'In Sale department, leve 2 has the most mean income, level 3 has the lowest mean income',
 'In Research_Development department, level 3 has the most mean income, leve 2 has the lowest mean income']